<ion-header>
  <ion-toolbar>
    <ion-title>
      Mozaique des projets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeXs="6" sizeSm="6" sizeMd="4" sizeLg="2" *ngFor="let project of projects">
        <ion-card>
          <img [src]="project.image" *ngIf="project.image"/>
          <div class="img-placeholder" *ngIf="!project.image"></div>
          <ion-card-header>
            <ion-card-title>{{ project.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              {{ project.description }}<br/><br/>
              <strong>
                <ion-icon name="code-working"></ion-icon>
                Ports utilisés
              </strong> :
              <span *ngFor="let port of project.ports; let i = index">
                <span *ngIf="i > 0">, </span>
                <span class="ports">{{ port }}</span>
              </span>
              <br/>
              <strong>
                <ion-icon name="link" style="font-size: 17px"></ion-icon>
                Liens
              </strong> :
              <span *ngFor="let link of project.links; let i = index">
                <span *ngIf="i > 0">, </span>
                <a class="links" href="{{ link.url }}" target="_blank">{{ link.text }}</a>
              </span>
              <br/>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
